<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Rack::Cms Example</title>

  <style type="text/css">
    
    html, body { margin: 0; padding: 0; }
    body { width: 700px; margin: 60px auto; font: 16px Georgia, "Times New Roman", serif; color: #222; }
    
    h1 { color: red; }
    h2 { border-bottom: 8px solid #eee; padding-bottom: 10px; margin-bottom: 15px; }
    p { line-height: 28px; }
    
  </style>

</head>

<body>

  <h1 ctitle="Headline">Welcome!</h1>
  
  <h2 ctitle="Motto">This page showcases the features of Rack::Cms</h2>
  
  <p>
    Rack::Cms allows you to give your clients the ability to quickly (and safely make copy changes).
    To use, simply apply the "ctitle" attribute to any element you allow to be editable. Even spans. 
    <span ctitle="Span example">Go ahead, try to edit this.</span> The goal of the library is to solve 
    the age old problem that plagues most Ruby developers: how can I let my clients edit the copy in 
    their application.
  </p>
  
  <div>Developed by Brennan Dunn of <a href="http://www.wearetitans.net">WE ARE TITANS</a></div>

</body>
</html>
